.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* UsersListingEmptyState.tsx */
.empty_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px;
}